
services:


  postgres:
    image: postgres:latest
    container_name: ${PG_CONT_NAME:-postgres}
    restart: unless-stopped
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    networks:
      - infra
    volumes:
      - data_pg:/var/lib/postgresql
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-eXzqK8ztWn7zGAsNY8qWuXpNIHjs2NO7}
      POSTGRES_USER: ${POSTGRES_USER:-foundry}
      POSTGRES_DB: ${POSTGRES_DB:-foundry}
    shm_size: '512m'


networks:
  infra:
    driver: bridge


volumes:
  data_pg: